* {
    box-sizing: border-box;
}
li {
    list-style: none;
}

/* header */

header {
    position: relative;
    width: 100%;
    height: 150px;
    border: 3px solid black;
    margin-bottom: 50px;
}
.popup {
    position: absolute;
    top: calc(50% + 5px);
    left: calc(50% + 150px);
    font-weight: bold;
    border-radius: 45%;
    background: none;
    border: 3px solid black;
}
.search {
    position: absolute;
    width: 300px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.title {
    margin: 0;
    margin-bottom: 5px;
}


/* section */
.inner {
    position: relative;
    width: 100%;
    
}
.container {
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 1.5em;
    row-gap: 2em;
    margin: 0 auto;
    text-align: center;
    padding: 0;
}
.item {
    width: 100%;
    height: 100%;
}
.item img {
    width: 100%;
    height: 90%;
}
.item p {
    width: 100%;
    height: 10%;
    margin: 0;
    display: flex;    
    justify-content: center;
    align-items: center;
}